body {
  font-family: Arial;
  margin: 0;
  padding: 15px;
  background: rgba(30, 30, 30, 0.4);
  color: white;
}

button {
  padding: 10px;
  cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
    justify-content: start;
}
